//resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* - - - - - main section styling - - - - - */
main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
            to bottom right,
            rgba(230, 204, 167, 0.7),
            rgba(205, 117, 145, 0.8)
        ),
        url("../images/banking.jpg");

    /* - - - - - - main containter styling - - - - - */
    .front-page {
        width: 100%;
        height: 100%;
        padding: 3% 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(
            to bottom right,
            rgba(240, 230, 230, 0.2),
            rgba(240, 230, 230, 0.2)
        );
        backdrop-filter: blur(0.2vw);

        header {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                cursor: pointer;
                h1 {
                    color: #4b4a4a;
                    letter-spacing: 0.05vw;
                    font-size: 1.5vw;
                    font-weight: 600;
                }

                span {
                    color: #b37878;
                }
            }

            .navlinks {
                width: 60%;
                padding: 2% 0;
                ul {
                    width: 100%;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    li {
                        font-size: 0.9vw;
                        cursor: pointer;
                        color: #4b4a4a;
                        text-transform: capitalize;
                        margin: 0 2%;
                    }
                }
            }

            .login {
                button {
                    cursor: pointer;
                    text-transform: capitalize;
                    font-size: 0.8vw;
                    padding: 0.5vw 2vw;
                    outline: none;
                    border: none;
                    border-radius: 0.3vw;
                    color: #4b4a4a;
                }
            }
        }

        .hero-content {
            width: 100%;
            padding: 10% 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
                width: 50%;
                .text {
                    color: #4b4a4a;
                    h2 {
                        font-size: 2.5vw;
                        line-height: 4vw;
                    }

                    p {
                        font-size: 0.9vw;
                        margin: 2% 0;
                    }
                }

                .create-acc {
                    button {
                        margin-top: 5%;
                        cursor: pointer;
                        text-transform: capitalize;
                        font-size: 0.8vw;
                        padding: 0.8vw 2vw;
                        outline: none;
                        border: none;
                        border-radius: 0.3vw;
                        color: #4b4a4a;
                    }
                }
            }

            .right {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .card {
                    display: flex; //change this back to flex
                    position: relative;
                    .main-card {
                        padding: 3% 5%;
                        // position: absolute;
                        width: 25vw;
                        height: 15vw;
                        background: rgba(255, 255, 255, 0.3);
                        background: linear-gradient(
                            to bottom right,
                            rgba(240, 230, 230, 0.5),
                            rgba(240, 230, 230, 0.2)
                        );
                        backdrop-filter: blur(1vw);
                        border-radius: 1vw;
                        border: solid 0.15vw rgba(240, 230, 230, 0.1);
                        z-index: 2;
                        .logo {
                            color: #b37878;
                            font-size: 1vw;
                        }
                        .card-no {
                            margin-top: 10%;
                            margin-bottom: 7%;
                            p {
                                letter-spacing: 0.05vw;
                                color: #b37878;
                                font-size: 1.2vw;
                            }
                        }
                        .valid {
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 0.7vw;
                            color: #777777;
                            span {
                                letter-spacing: 0.2vw;
                            }
                        }
                        .acc-no {
                            margin-top: 5%;
                            font-size: 1vw;
                            color: #b37878;
                        }
                        .name {
                            font-size: 0.8vw;
                            margin-top: 2%;
                            color: #777777;
                        }
                    }

                    .circle1 {
                        position: absolute;
                        width: 20vw;
                        height: 20vw;
                        background: rgb(222, 184, 135);
                        border-radius: 50%;
                        top: 40%;
                        right: 50%;
                    }

                    .circle2 {
                        position: absolute;
                        width: 10vw;
                        height: 10vw;
                        background: rgb(184, 68, 68);
                        background: linear-gradient(
                            to bottom left,
                            rgba(240, 230, 230, 0.1),
                            rgba(184, 68, 68, 1)
                        );
                        border-radius: 50%;
                        margin-top: -20%;
                        right: -15%;
                    }
                }
                .login-form {
                    width: 70%;
                    height: auto;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(
                        to bottom right,
                        rgba(255, 255, 255, 0.2),
                        rgba(253, 173, 173, 0.2)
                    );
                    backdrop-filter: blur(1vw);
                    padding: 7% 10%;
                    border-radius: 1vw;
                    border: solid 0.15vw rgba(240, 230, 230, 0.1);
                    form {
                        padding: 2%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        label {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            span {
                                color: #fff;
                                padding: 3% 0;
                                font-size: 0.8vw;
                            }
                            input[type="password"],
                            input[type="email"] {
                                outline: none;
                                border: solid 0.1vw #fff;
                                border-radius: 0.3vw;
                                background-color: rgba(221, 170, 170, 0);
                                padding: 4% 3%;
                                margin-bottom: 10%;
                                color: #fff;
                                font-size: 0.8vw;
                            }
                        }
                        input[type="submit"] {
                            cursor: pointer;
                            width: 30%;
                            margin-top: 5%;
                            padding: 3%;
                            outline: none;
                            border: none;
                            border-radius: 0.3vw;
                            font-size: 0.7vw;
                            color: #4b4a4a;
                        }
                        .signup {
                            margin-top: 10%;
                            width: 100%;
                            display: flex;
                            div {
                                margin: 0 5%;
                                p {
                                    color: #4b4a4a;
                                }
                                button {
                                    cursor: pointer;
                                    outline: none;
                                    border: none;
                                    color: white;
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
            .active {
                display: block;
            }
            .inactive {
                display: none;
            }
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 2% 0;
            svg {
                cursor: pointer;
                width: 1.5vw;
                height: 1.5vw;
                margin-right: 1.5%;
                color: #4b4a4a;

                :hover {
                    color: #b37878;
                }
            }
        }
    }
}
